.container-fluid
  %h1 Home Page(landing page)
  %i.fab.fa-github
  = link_to 'Privacy Policy', privacy_policy_path, class: "btn btn-lg btn-warning"
  = link_to privacy_policy_path do
    %i.far.fa-address-book
  %br
  = link_to  privacy_policy_path do
    .fa.fa-home